/* 
---------------------------------------------
Header Style
--------------------------------------------- 
*/

.background-header {
    background-color: #fff;
    height: 80px!important;
    position: fixed!important;
    top: 0!important;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px rgba(0,0,0,15%)!important;
    transition: all .5s ease 0s;
  }
  
  .header-area {
    position: absolute;
    background: #14003C;
    background: linear-gradient(90deg, #14003C 0%, #A80D55 100%);
    height: 110px;
    left: 0;
    right: 0;
    z-index: 100;
    transition: all .5s ease 0s;
  }
  
  .header-area .main-nav {
    min-height: 80px;
    background: transparent;
    display: flex
  }
  
  .header-area .main-nav .logo {
    margin-top: 40px;
    flex-basis: 20%;
    transition: all 0.3s ease 0s;
  }
  
  .background-header .main-nav .logo {
    margin-top: 10px;
  }
  
  .header-area .main-nav .nav {
    flex-basis: 80%;
    height: 110px;
    margin-top: 0;
    margin-right: 0;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 999;
  }

  .nav {
    justify-content: right;
  }
  
  .header-area .main-nav .nav li:first-child {
    padding-left: 60px;
  }
  
  .header-area .main-nav .nav li:last-child {
    padding-right: 0;
  }
  
  .header-area .main-nav .nav li {
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .header-area .main-nav .nav li a {
    display: block;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.4s ease 0s;
    height: 110px;
    line-height: 110px;
    border: transparent;
    letter-spacing: 1px;
    text-decoration: none;
  }
  
  .background-header .main-nav .nav li a {
    height: 80px;
    line-height: 80px;
  }
  
  .header-area .main-nav .border-button {
    flex-basis: 20%;
    margin-top: 13px;
    text-align: right;
  }
  
  .header-area .main-nav .nav li.has-sub ul.sub-menu li:last-child a:hover,
  .background-header .main-nav .nav li.has-sub ul.sub-menu li:last-child a:hover {
    padding-left: 25px !important;
  }

  .has-sub li,ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .header-area .main-nav .nav li:hover a,
  .header-area .main-nav .nav li a.active {
    color: #fff;
    opacity: 0.8;
  }
  
  .background-header .main-nav .nav li:hover a,
  .background-header .main-nav .nav li a.active {
    color: #fff;
    opacity: 0.8;
  }
  
  .header-area .main-nav .nav li.has-sub {
    position: relative;
    padding-right: 15px;
  }

  .background-header .main-nav .nav li.has-sub::after {
    top: 32px;
  }
  
  .header-area .main-nav .nav li.has-sub ul.sub-menu {
    position: absolute;
    width: 250px;
    border-radius: 0 0 5px 5px;
    background-color: #eee;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 6%);
    overflow: hidden;
    top: 110px;
    opacity: 0;
    transition: all .3s;
    transform: translateY(+2em);
    visibility: hidden;
    z-index: -1;
  }
  
  .background-header .main-nav .nav li.has-sub ul.sub-menu {
    top: 80px;
  }
  
  .header-area .main-nav .nav li.has-sub ul.sub-menu li {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }
  
  .header-area .main-nav .nav li.has-sub ul.sub-menu li a {
    opacity: 1;
    display: block;
    background: #eee;
    color: #2a2a2a!important;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    transition: all 0.3s ease 0s;
    position: relative;
    font-size: 13px;
    font-weight: 400;
    border-bottom: 1px solid #eee;
  }
  
  .header-area .main-nav .nav li.has-sub ul.sub-menu li:last-child a {
    border-bottom: none;
  }
  
  .header-area .main-nav .nav li.has-sub ul li a:hover {
    background: #fff;
    color: #FF1464!important;
    padding-left: 25px;
  }
  
  .header-area .main-nav .nav li.has-sub ul li a:hover::before {
    width: 3px;
  }
  
  .header-area .main-nav .nav li.has-sub:hover ul.sub-menu {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
  }
  
  .header-area .main-nav .menu-trigger {
    cursor: pointer;
    position: absolute;
    top: 33px;
    width: 32px;
    height: 40px;
    text-indent: -9999em;
    z-index: 99;
    right: 20px;
    display: none;
  }
  
  .background-header .main-nav .menu-trigger {
    top: 17px;
  }
  
  .header-area .main-nav .menu-trigger span,
  .header-area .main-nav .menu-trigger span::before,
  .header-area .main-nav .menu-trigger span::after {
    transition: all 0.4s;
    background-color: #fff;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
  }
  
  .header-area .main-nav .menu-trigger span::before,
  .header-area .main-nav .menu-trigger span::after {
    transition: all 0.4s;
    background-color: #fff;
    display: block;
    position: absolute;
    height: 2px;
    left: 0;
    width: 75%;
    content: "";
  }
  
  .header-area .main-nav .menu-trigger span {
    top: 16px;
  }
  
  .header-area .main-nav .menu-trigger span::before {
    transform-origin: 33% 100%;
    top: -10px;
    z-index: 10;
  }
  
  .header-area .main-nav .menu-trigger span::after {
    transform-origin: 33% 0;
    top: 10px;
  }
  
  .header-area .main-nav .menu-trigger.active span,
  .header-area .main-nav .menu-trigger.active span::before,
  .header-area .main-nav .menu-trigger.active span::after {
    background-color: transparent;
    width: 100%;
  }
  
  .header-area .main-nav .menu-trigger.active span::before {
    transform: translateY(6px) translateX(1px) rotate(45deg);
    background-color: #fff;
  }
  
  .background-header .main-nav .menu-trigger.active span::before {
    background-color: #fff;
  }
  
  .header-area .main-nav .menu-trigger.active span::after {
    transform: translateY(-6px) translateX(1px) rotate(-45deg);
    background-color: #fff;
  }
  
  .background-header .main-nav .menu-trigger.active span::after {
    background-color: #fff;
  }
  
  .header-area.header-sticky .nav li a.active {
    color: #fff;
  }

  .header-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  @media (width <= 1400px) {
    .header-area .main-nav .nav li {
      padding-left: 10px;
      padding-right: 10px;
    }

    .header-area .main-nav .nav li:first-child {
      padding-left: 0;
    }

    .header-area .main-nav::before {
      display: none;
    }
  }
  
  @media (width <= 1000px) {
    .header-area .main-nav .nav {
      height: auto;
      flex-basis: 100%;
      float: none;
      width: 100%;
      display: none;
      transition: all 0s ease 0s;
      margin-left: -50%;
      max-height: 85vh;
      overflow: auto;
    }

    .header-area .main-nav .logo {
      position: absolute;
      left: 30px;
      top: 0;
    }

    .header-area .main-nav .nav li.has-sub svg {
      position: absolute;
      right: 1em;
      top: 0.5em;
    }

    .background-header .main-nav .logo {
      top: 0;
    }

    .background-header .main-nav .border-button {
      top: 0 !important;
    }

    .header-area .main-nav .border-button {
      position: absolute;
      top: 15px;
      right: 70px;
    }

    .header-area.header-sticky .nav li a:hover,
    .header-area.header-sticky .nav li a.active {
      color: #FF1364!important;
      opacity: 1;
    }

    .header-area.header-sticky .nav li.search-icon a {
      width: 100%;
    }

    .header-area {
      background-color: #f7f7f7;
      padding: 0 15px;
      height: 100px;
      box-shadow: none;
      text-align: center;
    }

    .header-area .container {
      padding: 0;
    }

    .header-area .logo {
      padding-left: 3em;
    }

    .header-area .menu-trigger {
      display: block !important;
    }

    .header-area .main-nav {
      overflow: hidden;
    }

    .header-area .main-nav .nav li:first-child {
      border-top: 1px solid #eee;
    }

    .header-area .nav {
      margin-top: 100px !important;
    }

    .background-header.header-sticky .nav {
      margin-top: 80px !important;
    }

    .header-area .main-nav .nav li {
      width: 100%;
      background: #fff;
      border-bottom: 1px solid #eee;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .header-area .main-nav .nav li a {
      height: 50px !important;
      line-height: 50px !important;
      padding: 0 !important;
      border: none !important;
      background: #f7f7f7 !important;
      color: #191a20 !important;
    }

    .header-area .main-nav .nav li a:hover {
      background: #eee !important;
      color: #FF1364!important;
    }

    .header-area .main-nav .nav li.has-sub ul.sub-menu {
      display: none;
      position: relative;
      visibility: inherit;
      opacity: 1;
      z-index: 1;
      transform: translateY(0%);
      top: 0;
      width: 100%;
      box-shadow: none;
      transition: all 0s;
    }

    .header-area .main-nav .nav li.submenu ul li a {
      font-size: 12px;
      font-weight: 400;
    }

    .header-area .main-nav .nav li.submenu ul li a:hover::before {
      width: 0;
    }

    .header-area .main-nav .nav li.has-sub::after {
      color: #3B566E;
      right: 30px;
      font-size: 14px;
      top: 15px;
    }

    .header-area .main-nav .nav li.submenu:hover ul, .header-area .main-nav .nav li.submenu:focus ul {
      height: 0;
    }
  }

  .pre-header {
    background-color: #fff;
    padding: 15px 0;
  }
  
  .pre-header ul li {
    display: inline-block;
  }
  
  .pre-header .left-info ul li:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
  }
  
  .pre-header .left-info ul li {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid #dfb6ff;
  }
  
  .pre-header .left-info ul li a {
    font-size: 14px;
  }
  
  .pre-header .left-info ul li a i {
    font-size: 18px;
    margin-right: 10px;
  }
  
  .pre-header ul li a {
    color: #a586bc;
    transition: all .4s;
  }
  
  .pre-header .social-icons {
    text-align: right;
  }
  
  .pre-header .social-icons ul li {
    margin-left: 10px;
  }
  
  .pre-header .social-icons ul li a {
    font-size: 18px;
  }
  
  .pre-header ul li a:hover {
    color: #c03afe;
  }

  .active {
    display: block !important;
  }
